@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
    font-family: 'IntegralCF';
    font-weight: 900;
    src: local('IntegralCF'), url(../../public/fonts/IntegralCF/IntegralCF-Heavy.woff2) format('woff');
}

@font-face {
    font-family: 'IntegralCF';
    font-weight: 800;
    src: local('IntegralCF'), url(../../public/fonts/IntegralCF/IntegralCF-ExtraBold.woff2) format('woff');
}

@font-face {
    font-family: 'IntegralCF';
    font-weight: 700;
    src: local('IntegralCF'), url(../../public/fonts/IntegralCF/IntegralCF-Bold.woff2) format('woff');
}

@font-face {
    font-family: 'IntegralCF';
    font-weight: 600;
    src: local('IntegralCF'), url(../../public/fonts/IntegralCF/IntegralCF-Medium.woff2) format('woff');
}

@font-face {
    font-family: 'IntegralCF';
    font-weight: 500;
    src: local('IntegralCF'), url(../../public/fonts/IntegralCF/IntegralCF-Regular.woff2) format('woff');
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-heading: var(--font-heading);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    --max-content-width: 1920px;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.148 0.004 228.8);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.148 0.004 228.8);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.148 0.004 228.8);
    --primary: oklch(0.508 0.118 165.612);
    --primary-foreground: oklch(0.979 0.021 166.113);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.963 0.002 197.1);
    --muted-foreground: oklch(0.56 0.021 213.5);
    --accent: oklch(0.963 0.002 197.1);
    --accent-foreground: oklch(0.218 0.008 223.9);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.925 0.005 214.3);
    --input: oklch(0.925 0.005 214.3);
    --ring: oklch(0.723 0.014 214.4);
    --chart-1: oklch(0.897 0.196 126.665);
    --chart-2: oklch(0.768 0.233 130.85);
    --chart-3: oklch(0.648 0.2 131.684);
    --chart-4: oklch(0.532 0.157 131.589);
    --chart-5: oklch(0.453 0.124 130.933);
    --radius: 0.625rem;
    --sidebar: oklch(0.987 0.002 197.1);
    --sidebar-foreground: oklch(0.148 0.004 228.8);
    --sidebar-primary: oklch(0.596 0.145 163.225);
    --sidebar-primary-foreground: oklch(0.979 0.021 166.113);
    --sidebar-accent: oklch(0.963 0.002 197.1);
    --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
    --sidebar-border: oklch(0.925 0.005 214.3);
    --sidebar-ring: oklch(0.723 0.014 214.4);
}

.dark {
    --background: oklch(0.218 0 89.876);
    --foreground: oklch(0.987 0.002 197.1);
    --card: oklch(0.218 0.008 223.9);
    --card-foreground: oklch(0.987 0.002 197.1);
    --popover: oklch(0.218 0.008 223.9);
    --popover-foreground: oklch(0.987 0.002 197.1);
    --primary: oklch(0.52 0.11 140.35);
    --primary-foreground: oklch(0.979 0.021 166.113);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.275 0.011 216.9);
    --muted-foreground: oklch(0.723 0.014 214.4);
    --accent: oklch(0.275 0.011 216.9);
    --accent-foreground: oklch(0.987 0.002 197.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0.021 213.5);
    --chart-1: oklch(0.897 0.196 126.665);
    --chart-2: oklch(0.768 0.233 130.85);
    --chart-3: oklch(0.648 0.2 131.684);
    --chart-4: oklch(0.532 0.157 131.589);
    --chart-5: oklch(0.453 0.124 130.933);
    --sidebar: oklch(0.218 0.008 223.9);
    --sidebar-foreground: oklch(0.987 0.002 197.1);
    --sidebar-primary: oklch(0.696 0.17 162.48);
    --sidebar-primary-foreground: oklch(0.262 0.051 172.552);
    --sidebar-accent: oklch(0.275 0.011 216.9);
    --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0.021 213.5);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    html {
        @apply font-sans;
    }
}

.navbar-div {
    background-color: #6e9843;
    border-bottom: 4px solid var(--primary);
}

.navbar {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.navbar-logo {
    filter: grayscale(25%) brightness(1.1) drop-shadow(0 0 10px #00000050);
    transform: translateY(4px);
    flex-shrink: 0;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.navbar-logo:hover {
    scale: 1.03;
    translate: 0 1px;
    filter: grayscale(25%) brightness(1.2) drop-shadow(0 0 10px #00000080);
}

.navbar-menu {
    width: 100%;
    max-width: 450px;
}

.navbar-card-img {
    filter: grayscale(80%) brightness(0.5) saturate(2) blur(1px);
    transition: all 0.3s ease-in-out;
}

.navbar-card:hover > .navbar-card-img {
    scale: 1.02;
    filter: grayscale(50%) brightness(0.7) saturate(1.5) blur(0px);
}

.navbar-card-title {
    font-size: 2.2em;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 20px #000000;
    transition: all 0.3s ease-in-out;
}

.navbar-card:hover > .navbar-card-title {
    transform: translateX(5px);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    width: min(1000px, 100%);
    padding: 0 20px;
}

.page-title {
    font-family: 'IntegralCF', 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.1;
    margin: 25px 0 15px;
    transition: color 0.3s ease-in-out;
}

.page-title:hover {
    color: var(--chart-1);
}

.text-hover-color {
    transition: color 0.3s ease-in-out;
}

.text-hover-color:hover {
    color: var(--chart-1);
}

.text-hover-translate {
    transition: transform 0.3s ease-in-out;
}

.text-hover-translate:hover {
    transform: translateX(5px);
}

.match-result-row {
    transition: all 0.3s ease-in-out;
}

.match-result-row:hover {
    background-color: #3a5634;
}

.match-info {
    gap: clamp(8px, 3vw, calc(var(--spacing) * 6));
    transition: all 0.5s ease-in-out;
}

.match-result-row:hover > .match-info {
    gap: calc(var(--spacing) * 7);
}

.integral-title {
    font-family: 'IntegralCF', 'Roboto', sans-serif;
    font-style: italic;
}

.integral-title-hover {
    font-family: 'IntegralCF', 'Roboto', sans-serif;
    font-style: italic;
    transition: all 0.3s ease-in-out;
}

.integral-title-hover:hover {
    color: var(--chart-1);
}

.live-circle {
    animation: pulseLive 2s infinite;
}

@keyframes pulseLive {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.squad-result-card > .squad-result-badge {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.squad-result-card > .squad-result-info {
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}

.squad-result-card:hover > .squad-result-badge {
    transform: scale(1.1);
}

.squad-result-card:hover > .squad-result-info {
    transform: translateX(5px);
}

.player-info-stemma {
    position: relative;
    min-width: min(20vw, 125px);
    aspect-ratio: 1/1;
    transition: scale 0.3s ease-in-out;
}

.player-info-stemma:hover {
    scale: 1.05;
}

.player-info-title {
    transition: letter-spacing 0.5s ease-in-out;
}

.player-info-title:hover {
    letter-spacing: 0.01em;
}

.player-card-stemma {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



/* Animazioni per rendere un elemento "shiny" */
@keyframes shine {
    0% {
        -webkit-mask-position: 220%;
    }
    50% {
        -webkit-mask-position: -80%;
    }
    100% {
        -webkit-mask-position: -80%;
    }
}

.shine-anim {
    mask-image: linear-gradient(
            -75deg,
            rgb(0, 0, 0) 15%,
            rgba(0, 0, 0, 0.5),
            rgb(0, 0, 0) 65%
    );
    mask-size: 150%;
    mask-position: 225%;
    animation: shine 4s infinite ease-in-out;
    animation-delay: 4s;
}

@keyframes shine-hover {
    0% {
        -webkit-mask-position: 200%;
    }
    50% {
        -webkit-mask-position: -25%;
    }
    100% {
        -webkit-mask-position: -25%;
    }
}

.shine-anim-hover {
    mask-image: linear-gradient(
            -75deg,
            rgb(0, 0, 0) 15%,
            rgba(0, 0, 0, 0.5),
            rgb(0, 0, 0) 65%
    );
    mask-size: 175%;
    mask-position: 200%;
}

.shine-anim-hover:hover {
    animation: shine-hover 4s normal;
}